<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" id="WebApp_ID"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	  <display-name>WSViajes</display-name>
  <servlet>
		<servlet-name>WSViajes</servlet-name> <!-- El nombre del proyecto aca tambien -->
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>ws</param-value> <!-- El nombre del paquete-->
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>WSViajes</servlet-name>  <!-- El nombre del proyecto-->
		<url-pattern>/api/*</url-pattern>		

	</servlet-mapping>
</web-app>